<template name="main">


        <div class="container">

            <div class="row-fluid">

                <div class="span8 pull-left">
                    {{#if isReady "currentRooms"}}
                        {{> room}}
                    {{else}}
                        Loading...
                    {{/if}}

                </div>
                <div class="span4">
                    {{> youtubeSearch}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8 ">
                    {{> input}}
                </div>
            </div>

        </div>

</template>