<head>
    <title>Playtogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../lib/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
</head>

<body class="Site">


{{> sAlert}}


</body>

<template name="applicationRootLayout">

        {{> Template.dynamic template=header}}
    <div class="row-fluid">
                {{> Template.dynamic template=sidebar}}

                {{> Template.dynamic template=main}}
    </div>
        {{> Template.dynamic template=footer}}




</template>







